@charset "UTF-8";

/*Azul Profundo	#1E3A8A	Cor principal (background de header, botões principais)
Azul Médio	#3B82F6	Destaques (links, botões, bordas)
Azul Claro	#BFDBFE	Fundo de seções secundárias
Branco Suave	#F9FAFB	Fundo geral / textos sobre azul escuro
Cinza Azulado	#64748B	Textos, ícones, contraste suave
Verde Menta	#10B981	Cor de apoio (destaques positivos, benefícios)*/

:root{
    --cor-principal:#1E3A8A;
    --destaque:#3B82F6;
    --fundosecundaria:#BFDBFE;
    --fundogeral:#F9FAFB;
    --texto-icones:#000000;
    --cordeapoio:#10B981;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth; /*scrool suave*/
}

html,body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color:var(--fundogeral);
}

.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "benefits benefits benefits"
    "testimonials testimonials testimonials"
    "footer footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
}

a{
    font-weight: bold;
    text-decoration: none;
}

nav{
    height: 100%;
    width: 100%;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}


header{
    min-height: 8vh;
    grid-area: header;
    font-weight: bold;
    background-color: var(--fundogeral);
    box-shadow: 0px 0px 5px black;
}
header a{
    color: var(--cor-principal);
    padding: 10px;
}
header a:hover{
    color: white;
    border-radius: 10px;
    background-color: var(--destaque);
    box-shadow: 0px 0px 2px black;
}


main{
    color: var(--texto-icones);
    text-shadow: 0px 1px 1px rgba(46, 46, 46, 0.658);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    font-size: 1.5rem;
}
main>p{
    font-size: 1.2rem;
    text-align: justify;
}
#benefits,#testimonials{
    margin: 60px 0px;
    padding: 20px;
    background-color: var(--fundogeral);
    border-radius: 20px;
}

#hero{
    grid-area: hero;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: var(--texto-icones);
    text-align: center;
    gap: 50px;
}
/*botao colocar um stroke e uns paranaue louco*/
#hero a{
    position: relative;
    display: inline-block;
    color: white;
    background-color: var(--destaque);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    overflow: visible;
    z-index: 1;
    transition: all 0.3 ease;
    cursor: pointer;
}
/*BORDA EXTERNA*/
#hero a::before{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    top: -10px;
    left: -10px;
    border-top: 5px solid var(--destaque);
    border-left: 5px solid var(--fundosecundaria);
    z-index: -1; /*segunda camada*/
    transition: all 0.1s ease;
    pointer-events: none;
    opacity: 1;
}
#hero a::after{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 5px solid var(--fundosecundaria);
    border-right: 5px solid var(--destaque);
    z-index: -1; /*segunda camada*/
    transition: all 0.1s ease;
    pointer-events: none;
    opacity: 1;
}
#hero a:hover{
    color: #56b495;
    text-shadow: 1px 1px 1px black;
    background-color: transparent;
    box-shadow: none;

}
#hero a:hover::before{
    height: 132%;
    width: 105%;
    border-top: 5px solid var(--cordeapoio);
    border-left: 5px solid var(--cordeapoio);
    border-radius: 20px;
}
#hero a:hover::after{
    height: 132%;
    width: 105%;
    border-bottom: 5px solid var(--cordeapoio);
    border-right: 5px solid var(--cordeapoio);
    border-radius: 20px;
}

#benefits{
    grid-area: benefits;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
}
#testimonials{
    grid-area: testimonials;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
}
#benefits h2,#testimonials h2{
    color: var(--destaque);
    text-align: center;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px black;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-area: footer;
    background-color: var(--fundosecundaria);
}
footer a{
    color: var(--cor-principal);
}
footer a:hover{
    color: var(--destaque);
    transition: color 0.2 ease;
}